[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-with-asserts = "*"

[packages]
pytz = "==2019.1"
sqlparse = "==0.3.0"
Django = "==2.2.28"

[requires]
python_version = "3.7"
