{% extends "base.html" %}

{% block body %}
    <a href="{% url 'crud:add' %}">登録画面へ</a>
    <form method="POST" action="">
        <table style="border: 1px;">
            <thead>
                <tr>
                    <th>message</th>
                    <th>created_at</th>
                    <th>updated_at</th>
                </tr>
            </thead>
            <tbody>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.message }}</td>
                        <td>{{ message.created_at }}</td>
                        <td>{{ message.updated_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}